POSTGRES_USER=gasto_user
POSTGRES_PASSWORD=gasto_password_123
POSTGRES_DB=gastoapp_db
GEMINI_API_KEY=AQ.Ab8RN6JqkP3ZIP69oPuOUvBr6YuddGmch3Hj725ol6O7gibqcg
JWT_SECRET_KEY=JtNJEytHDXWV5QoFZV-NaEi_CzPx2HMZV2sE2kq289vzXnoV3svZxdHiOlRWHxsp
DATABASE_URL=postgresql+asyncpg://gasto_user:gasto_password_123@localhost:5433/gastoapp_db